//path
$font-path: '../fonts/';
$image-path: '../images/';
//font family
$font-regular: 'Helvetica';
$font-bold: 'Helvetica-bold';
$font-light: 'Helvetica-light';
$base-font: 16px;
//Font-Color
$title: #1A1A1A;
$subtitle: #FFFFFF;
$text: #000000;
//Background-color
$pri-bg: #1A1A1A;
$sec-bg: #FFFFFF;
//Button
$pri-btn: #1A1A1A;
$sec-btn: #FFFFFF;